/* set entire body that is webpage */
body {
  background: #383a3d;
  padding-top: 25vh;
}
/* set form background colour*/
form {
  background: #fff;
}
/* set padding and size of th form */
.form-container {
  border-radius: 10px;
  padding: 30px;
}

.flex-container {
  /* We first create a flex layout context */
  display: flex;
  align-items: stretch;
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: space-between;

  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  padding: 5px;
  width: 80px;
  height: 40px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}
