<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
    <title>Login Micro FrontEnd</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span> Authentication Service</h1>
            <% if(user.name){ %>
                <b>hi, <%= user.name %></b>
                <a href="/logout"   onclick="return confirm('Are you sure ?');"> logout</a>
                <% } %>
                    <p></p>
                    <p>Login or Register with:</p>

                    <a href="/login.html" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
                    <a href="/signup.html" class="btn btn-default"><span class="fa fa-plus"></span> Signup</a>
                    
        </div>

    </div>
</body>

</html>